@{
    Layout = "_Layout";
}
    <h>Add A Vendor Form</h><br><br>
    <form action="/vendors" method="post">
        <label for="name">Name of Vendor: </label>
        <input id="name" name="name" type="text"><br><br>
        <label for="Description">Description of Vendor: </label>
        <input id="description" name="description" type="text"><br><br>
        <button type="submit">Submit</button>
    </form>
